[Unit]
Description=PlexSSO

[Service]
ExecStart=/usr/bin/node /opt/sso/auth/src/index.js
WorkingDirectory=/opt/sso/auth
Environment="NODE_ENV=production"
User=sso

[Install]
WantedBy=multi-user.target
